body {
  width: 900px;
  margin: 0 auto;
}
header {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans", Arial, sans-serif;
}
main {
  font-family: "Trebuchet MS", "Lucida Sans", Arial, sans-serif;
}
.white {
  background-color: #edecdc;
  color: #edecdc;
}
.green {
  background-color: #74a995;
  color: #74a995;
}
.red {
  background-color: #7f292f;
  color: #7f292f;
}
.roboto {
  font-family: "Crimson Pro", serif;
  font-size: 20px;
}
.student {
  width: 50rem;
}
.icon {
  width: 100px;
}
