
body {
  width: 960px;
  margin: 0 auto;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: left;
  margin: 0px;
  background: rgb(43,96,105);
  background: linear-gradient(180deg, rgba(43,96,105,1) 0%, rgba(238,229,233,1) 96%);
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.5);
}
body {
  background-color: #eee5e9;
  font-family: 'Oxygen', Arial, Helvetica, sans-serif;
  font-size: 35px;
  line-height: 1.5;
  padding: 0px;
}
h1,
h2,
h3 {
  color: #1d294d;
  font-family: 'Zilla Slab', Arial, Helvetica, serif;
  margin: 0px;
  padding: 0px;
}
p {
  color: #244E60;
  margin: 0px;
  padding: 0px;
}
footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-template-rows: 100px;
  background-color: #2B6069;
  color: #eee5e9;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}
.page {
  margin: 0 auto;
}
.logo {
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.5);
  width: 200px;
  background-color: #e5d352;
}
.navb {
  list-style: none; 
  display: flex;
  position: relative;
  right: 40%;
  top: 40%;
  width: 130%;
  text-align: center;
  background-color: #e5d352;
  font-size: 35px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.5);
}
.navb li {
  flex: 1 1 auto;
}
.navb a {
  display: block;
  padding: 0px 20px 0px 20px;
  transition-duration: 0.5s;
  font-weight: bold;
}
a:link,
a:visited {
  text-decoration: none;
  color: #203E46;
}
.navb a:hover {
  text-decoration: none;
  color: #eee5e9;
  background-color: #2B6069;
}
a:active {
  text-decoration: none;
  color: #153237;
}
.banner {
  position: relative;
  margin: 0px;
}
.banner_img {
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.5);
  width: 100%
}
.banner .button {
  position: absolute;
  transition-duration: 0.5s;
  cursor: pointer;
  margin: 0px;
  top: 55%;
  right: 0%;
  font-family: 'Zilla Slab', Arial, Helvetica, serif;
  font-size: 20px;
  border: none;
  background-color: #e5d352;
  padding: 25px 300px 25px 30px;
  opacity: .85;
}
.button:hover {
  background-color: #2B6069;
  color: #eee5e9;
}
.format {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.art1 {
  grid-column: 1;
  grid-row: 1;
  margin: 30px 0px 0 10px;

}
.image_1 {
  grid-column: 2;
  grid-row: 1;
  position: relative;
  top: 90px;
  box-shadow: 0 5px 50px rgb(0 0 0 / 0.5);
  width: 100%;
  margin: 30px 10px 0 0px;
}
.art2 {
  grid-column: 2;
  grid-row: 2;
  position: relative;
  margin: 30px 0px 0 0px;
}
.image_2 {
  grid-column: 1;
  grid-row: 2;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.5);
  width: 450px;
  margin: 30px 10px 0 10px;
}
.last_para {
  grid-column: 1/3;
  grid-row: 3;
  position: relative;
  top: 50px;
  text-align: center;
  margin: 0 10px 0 10px;
}
.footericons {
  margin-top: 35px;
  font-size: 25px;
  color: #eee5e9;
}
