/* WDD 130 Positioning Activity */

/* Activity 1 Styles */
.content1 {
  /* Activity One Container */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-gap: 20px;
}
.red1 {
  width: 100%;
  height: 100px;
  background-color: red;
  grid-column: 1/3;
}
.green1 {
  width: 200px;
  height: 200px;
  background-color: green;
}
.yellow1 {
  width: 200px;
  height: 200px;
  background-color: gold;
}
.blue1 {
  width: 100%;
  height: 100px;
  background-color: blue;
  grid-column: 1/3;
}

/* Activity 2 Styles */
.content2 {
  /* Activity Two Container */
position: relative;
}
.red2 {
  width: 100px;
  height: 100px;
  background-color: red;
}
.green2 {
  width: 100px;
  height: 100px;
  position: relative;
  bottom: 50px; left: 50px;
  background-color: green;
}
.yellow2 {
  width: 100px;
  height: 100px;
  position: relative;
  bottom: 100px; left: 100px;
  background-color: gold;
}
.blue2 {
  width: 100px;
  height: 100px;
  position: relative;
  bottom: 150px; left: 150px;
  background-color: blue;
}

/* Activity 3 Styles */
.content3 {
  /* Activity Three Container */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.red3 {
  width: 100%;
  height: 100px;
  grid-column: 1/3;
  background-color: red;
}
.green3 {
  width: 250px;
  height: 200px;
  justify-self: left;
  background-color: green;
}
.yellow3 {
  width: 250px;
  height: 200px;
  justify-self: right;
  background-color: gold;
}
.blue3 {
  width: 100%;
  height: 100px;
  grid-column: 1/3;
  background-color: blue;
}

/* Activity 4 Styles */
.content4 {
  /* Activity Four Container */
  display: grid;
  height: 400px;
  justify-content: center;
  grid-template-columns: 1fr;
}
.red4 {
  width: 300px;
  height: 150px;
  background-color: red;
  grid-column: 1/2;
}
.green4 {
  width: 300px;
  height: 150px;
  background-color: green;
  grid-column: 1/2;
}
.yellow4 {
  width: 300px;
  height: 150px;
  background-color: gold;
  grid-column: 1/2;
}
.blue4 {
  width: 300px;
  height: 100%;
  background-color: blue;
  grid-column: 2/2;
  grid-row: 1 / span 3;
  
}

/* Activity 5 Styles */
.content5 {
  /* Activity Five Container */
  height: 400px;
  margin: 0%;
}
.red5 {
  width: 100%;
  height: 100px;
  background-color: red;
}
.green5 {
  width: 200px;
  height: 200px;
  float: left;
  display: inline;
  background-color: green;
  margin-right: 1rem;
}
.yellow5 {
  background-color: gold;
  padding: 1rem;
}
.blue5 {
  width: 100%;
  height: 100px;
  background-color: blue;
}

/* Activity 6 Styles */
.content6 {
  /* Activity Six Container */
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.red6 {
  width: 400px;
  height: 150px;
  background-color: red;
  z-index: 1;
  grid-column: 1;
  grid-row: 1;
  position: relative;
  top: 100px;
}
.green6 {
  width: 200px;
  height: 100px;
  background-color: green;
  z-index: 3;
  grid-column: 1;
  grid-row: 3;
  position: relative;
  bottom: 50px;
}
.yellow6 {
  width: 200px;
  height: 300px;
  background-color: gold;
  z-index: 4;
  grid-column: 2;
  grid-row: 3;
  position: relative;
  bottom: 200px;
}
.blue6 {
  width: 400px;
  height: 300px;
  background-color: blue;
  z-index: 2;
  grid-column: 1;
  grid-row: 2;
  position: relative;
  left: 100px;
}

/* Do not change this container class */
.activity {
  width: 600px;
  margin: 1rem auto;
  font-family: Arial, sans-serif;
  border: 1px solid #777;
  padding: 1rem;
  clear: both;
  overflow: auto;
}
.title {
  background-color: #ddd;
}
