form {
    margin: 0 auto;
    width: 450px;
    padding: 1em;
    border: 1px solid #CCC;
    background-color: rgb(244, 244, 244);
    border-radius: 1em;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
form li + li {
    margin-top: 1em;
}
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;

}
input:focus,
textarea:focus {
    border-color: #000;
}
textarea {
    vertical-align: top;
    height: 5em;
}
button {
    margin-left: 5em;
    border-radius: 1em;
    border-width: .1em;
    background-color: #ffff;
    cursor: pointer;
    padding: .5em;
}
.button {
    padding-left: 90px;
}
button:hover {
    background-color: rgb(91, 91, 91);
    color: #ffff;
}
